{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <!-- This is where you will write the code to render a Bootstrap
                Table that contains all the information from the
                cafe-data.csv file. -->

                <thead>
                <tr>
                    {% for table_head in cafes[0] %}

                    <th class="cafe-title">{{ table_head }}</th>
                    {% endfor %}
                </tr>
                </thead>

                {# {% for table_head in cafes[0]: %}#}

                <tbody>
                <thead>
                {% for cafe in cafes[1:] %}
                <tr>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                </tr>
                {% endfor %}
                </tbody>

            </table>

            <h1 class="text-center">All Cafes</h1>

            <p><a href={{ url_for('home') }}>Return to index page</a></p>

        </div>
    </div>
</div>

{% endblock %}
