{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block content %}

<div class="container">
    <h1 class="text-center font-weight-bold">All Cafes</h1>

    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <!-- This is where you will write the code to render a Bootstrap
                Table that contains all the information from the
                cafe-data.csv file. -->

                <thead>
                <tr>
                    {% for table_head in cafes[0] %}

                    <th class="cafe-title">{{ table_head }}</th>
                    {% endfor %}
                </tr>
                </thead>


                <tbody>
                {% for cafe in cafes[1:] %}
                <tr>
                    <th>{{ cafe.pop(0) }}</th>
                    <th><a href="{{cafe.pop(0)}}">Map Link</a></th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                    <th>{{ cafe.pop(0) }}</th>
                </tr>
                {% endfor %}
                </tbody>

            </table>
            <div class="text-center">
                <a class="btn btn-default" href={{ url_for('add_cafe') }}>Add Cafes</a>
                <a class="btn btn-default" href={{ url_for('home') }}>Return to index page</a>

            </div>

        </div>
    </div>
</div>

{% endblock %}
