body{
            background-color: #EAF6F6;
        }

hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color: #545454;

}
img{
    border: 0;
    vertical-align: middle;
}
h1, h3{
    color: #66BFBF;
}